<script setup>import { computed, onMounted, ref } from 'vue';

const props = defineProps({
  data: Object,
  active: Boolean
})

let isWhite = ref(false);

onMounted(() => {
  setTimeout(() => isWhite.value = true, (1 - (Math.random() * Math.random())) * 15000)
})

const color = computed(() => isWhite.value ? "" : props.data.color)

const emit = defineEmits(['hover', 'click'])

</script>

<template>
  <div
    class="grid cell"
    :class="[color, { 'cell--active': active }]"
    @mouseenter="emit('hover', data)"
    @click="emit('click', data)"
    @dblclick="emit('open', data)"
  >
    <div v-if="active" class="cell__tooltip">{{ data.x }}x{{ data.y }}</div>
  </div>
</template>

<style lang="scss">
@mixin sizing($attr, $size) {
  #{$attr}: min(#{$size}vw, #{$size}vh);
}

.cell {
  &--active {
    border: 3px solid red;
  }

  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__tooltip {
    position: absolute;
    @include sizing(margin-left, 2.5);
    @include sizing(font-size, 1.5);
    background: black;
    color: white;
    padding: 2px 4px;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
  }
}

.grid.cell {
  &:hover {
    border: 3px dotted;
  }
}

@media (pointer: coarse) {
  .grid.cell {
    @include sizing(font-size, 0.9);
  }
}
</style>
