<template>
  <div class="row" v-if="from && to">
    <div class="side-marker"></div>
    <div
      class="side-marker side-marker--vertical"
      :class="{ 'side-marker--active': x + from === current }"
      v-for="x in range(to - from + 1)"
      :key="x"
    >
      <div class="side-marker__label">{{ x + from }}</div>
    </div>
    <div class="side-marker"></div>
  </div>
</template>

<script setup>
import range from '../utils/range';

defineProps({
  from: Number,
  to: Number,
  current: Number
})
</script>