<script setup>
import { ref } from 'vue'

import Cell from "./components/Cell.vue";
import HorizontalMarker from "./components/HorizontalMarker.vue";

import range from './utils/range';

import rawData from "../h3.csv?raw";

const data = rawData.split("\n").map(line => line.split("\t")).map(([x, y, color]) => ({ x: parseInt(x), y: parseInt(y), color }));

const rect = {
  left: Math.min(...data.map(e => e.x)),
  right: Math.max(...data.map(e => e.x)),
  top: Math.min(...data.map(e => e.y)),
  bottom: Math.max(...data.map(e => e.y))
}

const dataGrid = range(rect.right - rect.left + 1).map(i => []);
data.forEach(entry => {
  dataGrid[entry.x - rect.left][entry.y - rect.top] = entry;
})

let selectedTile = ref();
let tileClicked = ref();

const colors = [...new Set(data.map(e => e.color))]

function tileHover(tile) {
  if (!tileClicked.value) {
    selectedTile.value = tile;
  }
}

function tileClick(tile) {
  tileClicked.value = !tileClicked.value || selectedTile.value.x !== tile.x || selectedTile.value.y !== tile.y;
  selectedTile.value = tile;
}

function tileOpen(tile) {
  const url = `https://www.reddit.com/r/place/?cx=${tile.x}&cy=${tile.y}&px=18`
  window.open(url, 'places_tab');
}

</script>

<template>
  <div
    style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); font-size: min(20vw, 20vh); pointer-events: none;z-index: -1"
  >❤️</div>
  <h3 class="m-1">
    H3 r/place template [
    <a href="https://old.h3place.com">old</a> ]
  </h3>
  <div class="m-1">
    <HorizontalMarker :from="rect.left" :to="rect.right" :current="selectedTile?.x" />
    <div v-for="y in range(rect.bottom - rect.top + 1)" :key="y" class="row">
      <strong
        class="side-marker"
        :class="{ 'side-marker--active': y + rect.top === selectedTile?.y }"
      >{{ y + rect.top }}</strong>
      <Cell
        v-for="x in range(rect.right - rect.left + 1)"
        :key="x"
        :data="dataGrid[x][y]"
        @hover="tileHover"
        @click="tileClick"
        @open="tileOpen"
        :active="selectedTile?.x === x + rect.left && selectedTile?.y === y + rect.top"
      />
      <strong
        class="side-marker"
        :class="{ 'side-marker--active': y + rect.top === selectedTile?.y }"
      >{{ y + rect.top }}</strong>
    </div>
    <HorizontalMarker :from="rect.left" :to="rect.right" :current="selectedTile?.x" />
  </div>

  <div class="colors m-1">
    <span
      v-for="color in colors"
      :key="color"
      class="color"
      :class="[color, { active: selectedTile?.color === color }]"
    >{{ color }}</span>
  </div>

  <div class="m-1 muted">
    Made with ☮️ and ❤️ by
    <a href="https://discord.com/users/theshark#1337">theshark</a>
  </div>
</template>

<style lang="scss">
@mixin sizing($attr, $size) {
  #{$attr}: min(#{$size}vw, #{$size}vh);
}

$cell-size: 1.9;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h3 {
  @include sizing(font-size, 2);
}

.muted {
  @include sizing(font-size, 1.2);
  color: #555;
}

.m-1 {
  @include sizing(margin, 0.5);
}

.side-marker {
  @include sizing(width, 4);
  @include sizing(height, $cell-size);
  @include sizing(font-size, 1.2);
  font-weight: 900;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &--vertical {
    @include sizing(width, $cell-size);
    @include sizing(height, 4);

    .side-marker__label {
      transform: rotate(-90deg);
    }
  }

  &--active {
    color: white;
    background: black;
  }
}

.grid {
  @include sizing(width, $cell-size);
  @include sizing(height, $cell-size);
  @include sizing(font-size, 0.9);
}

.colors {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.color {
  padding: 6px;
  border: 5px solid white;

  &.active {
    border-color: red;
  }
}

.dark_blue {
  background: #2450a4;
  color: white;
}

.blue {
  background-color: #3690ea;
  color: white;
}

.dark_purple {
  background-color: #811e9f;
  color: white;
}

.purple {
  background-color: #b44ac0;
  color: white;
}

.black {
  background: black;
  color: white;
}
.white {
  background: white;
}

.periwinkle {
  background: rgb(106, 92, 255);
  color: white;
}

.light_gray {
  background: rgb(212, 215, 217);
}
.pale_purple {
  background: rgb(228, 171, 255);
}
.indigo {
  background: rgb(73, 58, 193);
  color: white;
}
</style>
